<div id="carouselExampleCaptions" class="carousel slide w-100 d-flex flex-row justify-content-center" style="place-self: start; height: 30vh; background: #2b2f32">
  <div class="carousel-indicators">
    <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
    <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="1" aria-label="Slide 2"></button>
    <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="2" aria-label="Slide 3"></button>
  </div>
  <div class="carousel-inner" style="height: 100%; width: 40%;">
    <div class="carousel-item border active" style="height: 100%;">
      <h1 class="w-50" style="text-align: center; color: white; margin: auto; padding-top: 15%;">Banner 1</h1>
      <div class="carousel-caption d-none d-md-block">
        Banner Text
      </div>
    </div>
    <div class="carousel-item border" style="height: 100%;">
      <h1 class="w-50" style="text-align: center; color: white; margin: auto; padding-top: 15%;">Banner 2</h1>
      <div class="carousel-caption d-none d-md-block">
        Banner Text
      </div>
    </div>
    <div class="carousel-item border" style="height: 100%;">
      <h1 class="w-50" style="text-align: center; color: white; margin: auto; padding-top: 15%;">Banner 3</h1>
      <div class="carousel-caption d-none d-md-block">
        Banner Text
      </div>
    </div>
  </div>
  <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Previous</span>
  </button>
  <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Next</span>
  </button>
</div>