<div class="coming-soon flex-column justify-content-center" style="width: 60vw; margin: auto;">
  <p class="border" style="height: 30px; width: 20%; text-align: center;">Winners Feedback</p>
  <div class="coming-soon-cards d-flex justify-content-between" style="margin: auto;">

    <div class="card-sample d-grid border" style= "text-align: center; width: 12vw; height: 20vh; place-items: center">
      <p>Coming Soon 1</p>
    </div>
    <div class="card-sample d-grid border" style= "text-align: center; width: 12vw; height: 20vh; place-items: center">
      <p>Coming Soon 2</p>
    </div>
    <div class="card-sample d-grid border" style= "text-align: center; width: 12vw; height: 20vh; place-items: center">
      <p>Coming Soon 3</p>
    </div>
    <div class="card-sample d-grid border" style= "text-align: center; width: 12vw; height: 20vh; place-items: center">
      <p>Coming Soon 4</p>
    </div>

  </div>
</div>
