<div class="container d-flex flex-row mb-2" style="margin-top: 20px; width: inherit">
  <%= link_to 'Order History', client_order_history_index_path, class: "btn btn-secondary me-2", style: 'width: 200px' %>
  <%= link_to 'Lottery History', client_lottery_history_index_path, class: "btn btn-secondary me-2", style: 'width: 200px' %>
  <%= link_to 'Winning History', client_winning_history_index_path, class: "btn btn-secondary me-2", style: 'width: 200px' %>
  <%= link_to 'Invitation History', client_invite_history_index_path, class: "btn btn-secondary me-2", style: 'width: 200px' %>
</div>
