<div class="top-row d-flex justify-content-center align-items-center" style="border: 1px solid black; width: inherit; padding: 0;">
  <p style="margin: 0;">System Management</p>
</div>

<div class="accordion accordion-flush" id="accordionFlushExample" style="border: 1px solid black">
  <div class="accordion-item" style="padding: 14px 20px;">
    <%= link_to 'Homepage', admin_root_path, style: 'text-decoration: none; color: black;' %>
  </div>
  <div class="accordion-item">
    <h2 class="accordion-header" id="flush-headingTwo">
      <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseTwo" aria-expanded="false" aria-controls="flush-collapseTwo">
        Member Management
      </button>
    </h2>
    <div id="flush-collapseTwo" class="accordion-collapse collapse" aria-labelledby="flush-headingTwo" data-bs-parent="#accordionFlushExample">
      <ul style="margin: 10px; list-style: none">
        <li style="margin: 10px"><a class="accordion-body h-25" style="text-decoration: none;">User List</a></li>
        <li style="margin: 10px"><a class="accordion-body h-25" style="text-decoration: none;">User List</a></li>
      </ul>
    </div>
  </div>
  <div class="accordion-item">
    <h2 class="accordion-header" id="flush-headingThree">
      <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseThree" aria-expanded="false" aria-controls="flush-collapseThree">
        Example 2 Management
      </button>
    </h2>
    <div id="flush-collapseThree" class="accordion-collapse collapse" aria-labelledby="flush-headingThree" data-bs-parent="#accordionFlushExample">
      <ul style="margin: 10px; list-style: none">
        <li style="margin: 10px"><a class="accordion-body h-25" style="text-decoration: none;">Example 1</a></li>
        <li style="margin: 10px"><a class="accordion-body h-25" style="text-decoration: none;"><%= link_to 'Ticket List', admin_tickets_path, class: "nav-link ps-4" %></a></li>
      </ul>
    </div>
  </div>
</div>