<section class="admin-home-page p-10 d-flex justify-content-evenly" style="height: 100vh; width: 100vw; padding: 10px;" >

  <content class="left-column m-0" style="width: 20vw; min-width: 20vw; height: 5vh; display: grid; grid-template-rows: 5vh 90vh;">
    <%= render partial: 'admin/partial/side_nav' %>
  </content>

  <content class="right-column m-0" style="width: 80vw; min-width: 80vw; height: 5vh; display: grid; grid-template-rows: 5vh 90vh; ">
    <div class="top-row d-flex justify-content-end align-items-center" style="border: 1px solid black; width: auto; height: 5vh;">
      <%= render partial: 'admin/partial/top_right_nav' %>
    </div>

    <div class="bottom-row" style="padding: 10px; border: 1px solid black; height: auto;">

      <div class="row">
        <div class="col-10">
          <div class="row">
            <h1 style='text-decoration: none;' >ITEMS <%= link_to '+', class:'btn btn-primary'%></h1>
          </div>
        </div>
      </div>

    </div>
  </content>

</section>
