
<section class="client-me">

  <div class="top-nav w-100" style="place-self: start">
    <%= render partial: 'client/partial/top_nav' %>
  </div>

  <div class="client-me-main container p-4 mt-4 border rounded">
    <%= render partial: 'client/partial/me_card' %>
  </div>

  <div class="bottom-nav w-100 border d-flex justify-content-center" style="place-items: center">
    <%= render partial: 'client/partial/bottom_nav' %>
  </div>

</section>

